html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

footer {
    margin-top: auto;
}

input{
    margin-bottom: 10px;
}
.card-custom {
    padding: 10px; /* margen interno de 10px de las cards */
}